@model IEnumerable<Permission>
@{
	ViewData["Title"] = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row center">
	<div class="col-md-12">
		<div id="head-back" class="col-md-12">
			<h2 id="headline">İzinler</h2>
			<hr />
		</div>
		<div class="col-md-12">
			<table class="table table-hover">
				@if (Model.Count() == 0)
				{
					<div class="alert alert-warning">İzin yok</div>
				}
				else
				{
					<div class="row">
						<div class="col-md-4">
							<p id="per-p">@Model.FirstOrDefault().Employee.Name @Model.FirstOrDefault().Employee.Surname</p>
						</div>
						<div class="col-md-8">
							<p id="per-p">Kalan izin gün sayısı: @Model.FirstOrDefault().Employee.DaysLeft</p>
						</div>
					</div>
				}
				<thead>
					<tr>
						<th scope="col">İzne Ayrılma Tarihi</th>
						<th scope="col">İzin Bitiş Tarihi</th>
						<th scope="col">İzin Aldığı Gün</th>
						<th scope="col"> </th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.StartDate.ToString().TrimEnd('0', ':')</td>
							<td>@item.EndDate.ToString().TrimEnd('0', ':')</td>
							<td>@item.DayCount</td>
							<td>
								@Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
								@Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


